PyRPG_Mini.iml
markdown-navigator.xml
misc.xml
modules.xml
vcs.xml
workspace.xml
markdown-navigator
inspectionProfiles

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# csv-files
*.csv

# certificates
*.crt

# PyCharm
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
